html {
    direction: rtl;
}
*{
    margin : 0;
    border : 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Vazir";
    src: url("./fonts/Vazir-FD.woff");
}
body{
    font-family: "Vazir" !important;
}
a{
    text-decoration: none !important;
}
ul{
    list-style: none !important;
}
nav .navbar-dark .navbar-nav .nav-item .nav-link{
    color: transparent !important;
}