.bg-orange{
    background-color: orange !important;
}
.bg-gold{
    background-color: gold !important;
}
.logoBox {
  background-color: #ffff;
  display: flex;
  justify-content: space-between;
  min-height: 60px;
  align-items: center;
  padding: 0 12px;
}
.logoBox + nav{
    box-shadow: 0px 12px 20px -15px ;
    padding: 0 12px;
}
.offcanvas{
    background-color: #dff1d8;
}
.offcanvas-title .logoImgBox img{
    width: 50%;
}
.offcanvas-body .nav-link{
    color : black;
    padding: 12px 0;
}
.offcanvas-body .dropdown-item.active,.offcanvas-body .dropdown-item:active{
    background-color: orange;
    color:white;
}
.offcanvas-body .dropdown-item.active,.offcanvas-body .dropdown-item:active{
    background-color: orange;
    color:white;
}
.nav-link:focus{
    border: none;
    outline: none;
}
.dropdown-menu{
    border-color: #dff1d8;
}
.dropdown-item:hover{
    background-color: white;
    background-color: #dff1d8;
    
}
.nav-item .dropdown-item.active,.nav-item .dropdown-item:active {
    color: orange ;
    background-color: #dff1d8  ;
}
.signIn{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin : 0;
}
.signIn li{
    padding: 0 12px;
}
.signIn li a{
    color: black;
    text-decoration: none;
    transition: 0.3s;
}
.signIn li a:hover{
    color: orange;
}
.ourServices {
    background-color: white;
    border: 2px solid #dff1d8;
    padding: 4px 8px;
    border-radius: 35px;
    transition: 0.2s;
    position: relative;
}
.ourServices a{
    text-decoration: none;
    color: black;
}
.totalOrders{
    position: absolute;
    top: -12px;
    background-color: #dff1d8;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    right: -15px;
    color: #000;
    padding: 2px;
    text-align: center;
}
.ourServices:hover{
    background-color: orange;
    color: white;
    border-color: white;
}
.ourServices:hover a{
    color: white;
}
.logoImgBox{
    width: 90px;
}
.logoImgBox img{
    width : 100%
}

